body {
    font-family: Arial;
    margin: 0;
    background: #f5f7fa;
}

header {
    background: #0b3d91;
    color: white;
    padding: 25px;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 20px;
    border: 4px solid #0b3d91;
}

section {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

h2 {
    color: #0b3d91;
}

footer {
    background: #0b3d91;
    color: white;
    text-align: center;
    padding: 10px;
}
